<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HabiticaHourUpVSIX.AppSettings.UserSettings3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HabiticaHourUpVSIX.AppSettings.CredentialsSettings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HabiticaHourUpVSIX.AppSettings.HabiticaSettings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HabiticaHourUpVSIX.AppSettings.UserSettings3>
            <setting name="Divisor" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="TaskIDToScoreUp" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoScoreUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowErrorOnFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BeepOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeepAudioPath" serializeAs="String">
                <value />
            </setting>
        </HabiticaHourUpVSIX.AppSettings.UserSettings3>
        <HabiticaHourUpVSIX.AppSettings.CredentialsSettings1>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
        </HabiticaHourUpVSIX.AppSettings.CredentialsSettings1>
        <HabiticaHourUpVSIX.AppSettings.HabiticaSettings1>
            <setting name="TotalTicks" serializeAs="String">
                <value>0</value>
            </setting>
        </HabiticaHourUpVSIX.AppSettings.HabiticaSettings1>
    </userSettings>
</configuration>